<div class="shared-fso" (click)="onClick()" [title]="fso.name">
    <div id="fso-name-icon">
        <span [ngStyle]="{'margin-right': fso.isFolder ? '4px' : '8px', 'color': fso.isFolder ? '#ffd242' : '#7291ff'}">
            <fa-icon [icon]="fso.isFolder ? isOpen ? faFolderOpen: faFolder : faFile"></fa-icon>
        </span>
        <span>
            {{ fso.name }}
        </span>
    </div>
    <div id="fso-size">
        <strong>{{ fso.fileSize | readableBytes: 2 }}</strong>
    </div>
</div>
<div *ngIf="fso.content && isOpen" class="shared-fso-content" [title]="fso.name">
    <shared-fso *ngFor="let fso of fso.content" [fso]="fso"></shared-fso>
</div>