<div class="shared-fso" (click)="onClick()">
    <div [ngStyle]="{'margin-right': fso.isFolder ? '4px' : '8px', 'color': fso.isFolder ? '#ffd242' : '#7291ff'}">
        <fa-icon [icon]="fso.isFolder ? isOpen ? faFolderOpen: faFolder : faFile"></fa-icon>
    </div>
    <div>
        {{ fso.name }}
    </div>
    &nbsp;
    <div>
        <strong>{{ fso.fileSize | readableBytes: 2 }}</strong>
    </div>
</div>
<div *ngIf="fso.content && isOpen" class="shared-fso-content" [title]="fso.name">
    <shared-fso *ngFor="let fso of fso.content" [fso]="fso"></shared-fso>
</div>