<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <form [formGroup]="form" #loginForm (ngSubmit)="login()">
            <label for="username" class="control-label">Username or Email</label>
            <input formControlName="userIdentifier" type="text" id="username" class="form-control">

            <label for="password" class="control-label">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control">
            <br>
            <div *ngIf="badLogin" class="alert alert-danger">
                Invalid <strong>username</strong> or <strong>password</strong>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
        </form>
    </div>
</div>