.fso-selected {
    background-color: rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.603);
}

.fso {
    width: 11rem;
    border-radius: .1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.fso:hover {
    background-color: rgba(0, 123, 255, 0.089);
}

.icon-box {
    flex-grow: 1;
    font-size: 9rem;
    text-align: center;
}

.folder-icon-box {
    color: #ffd242;
}

.file-icon-box {
    color: #7291ff;
}

.fso-title {
    position: relative;
    top: -1rem;
    text-align: center;
    margin: 0 .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fso-title a {
    text-decoration: none;
    color: currentcolor;
}

.file-box {
    position: relative;
}

.file-ext-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* font-size: .8rem; */
    color: white;
    text-shadow: 2px 2px 2px #00000078;
}