<div class="fso" [class.fso-selected]="fso.isSelected" (click)="onClick($event)" (dblclick)="onDblClick()">
    <div *ngIf="fso.isFolder" class="folder-icon-box icon-box">
        <fa-icon [icon]="folderIcon"></fa-icon>
    </div>
    <div *ngIf="!fso.isFolder" class="file-box">
        <div class="file-icon-box icon-box">
            <fa-icon [icon]="fileIcon"></fa-icon>
        </div>
        <div class="file-ext-box" [ngStyle]="{'font-size': ext.length < 4? '3rem': '2.5rem'}">{{
            ext }}</div>
    </div>
    <div *ngIf="fso.isFolder" class="fso-title" [title]="fso.name"><a [routerLink]="['/drive',fso.id]">{{ fso.name
            }}</a></div>
    <div *ngIf="!fso.isFolder" class="fso-title" [title]="fso.name">{{ fso.name }}</div>
</div>