<div class="fso" [class.fso-selected]="fso.isSelected" (click)="onClick($event)" (dblclick)="onDblClick()">
    <div class="fso-box-1">
        <div *ngIf="fso.isFolder" class="folder-icon-box">
            <fa-icon [icon]="folderIcon"></fa-icon>
        </div>

        <div *ngIf="!fso.isFolder" class="file-icon-box">
            <fa-icon [icon]="fileIcon"></fa-icon>
        </div>
        <div *ngIf="!fso.isFolder" class="file-ext-box" [ngStyle]="{'font-size': ext.length < 4? '.8rem': '.6rem'}">{{
            ext }}</div>
    </div>
    <div class="fso-box-2">
        <div class="fso-info-1">
            <span *ngIf="fso.isFolder" class="folder-name" [title]="fso.name">
                <a [routerLink]="['/drive',fso.id]">{{ fso.name
                    }}</a></span>

            <span *ngIf="!fso.isFolder" class="file-name" [title]="fso.name">{{ fso.name }}</span>
            <span *ngIf="!fso.isFolder" class="file-size"><strong>{{ fso.fileSize | readableBytes: 0
                    }}</strong></span>
        </div>
        <div class="fso-info-2">
            <span>{{ fso.date | date:'medium'}}</span>
        </div>
    </div>
</div>