<div class="row">
    <div class="col-md-4">
        <h2>Reset password</h2>
        <form *ngIf="!resetToken || !resetTokenId" [formGroup]="userIdentifierForm" (ngSubmit)="getResetToken()">
            <div class="form-group">
                <label for="username" class="control-label">Username or Email</label>
                <input formControlName="userIdentifier" type="text" id="username" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="userIdentifierForm.invalid">Send</button>
            </div>
            <div *ngIf="maskedMailAddress" class="alert alert-success">Check email <strong>{{ maskedMailAddress
                    }}</strong> for further
                instructions.</div>
            <div *ngIf="userError" class="alert alert-danger">
                {{ userError }}
            </div>
        </form>

        <form *ngIf="resetToken && resetTokenId" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
            <div class="form-group"><label for="newPassword" class="control-label">New password</label>
                <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
            </div>
            <div *ngIf="newPassword!.touched && newPassword!.invalid" class="alert alert-danger">
                <div *ngIf="newPassword!.errors!.required"><strong>New password</strong> is required</div>
            </div>

            <div class="form-group"><label for="confirmNewPassword" class="control-label">Confirm new password</label>
                <input formControlName="confirmNewPassword" type="password" id="confirmNewPassword"
                    class="form-control">
            </div>
            <div *ngIf="confirmNewPassword!.touched && confirmNewPassword!.invalid" class="alert alert-danger">
                <div *ngIf="confirmNewPassword!.errors!.required"><strong>Confirm new password</strong> is required
                </div>
            </div>
            <div *ngIf="passwordForm!.errors && newPassword!.dirty && confirmNewPassword!.dirty">
                <div *ngIf="passwordForm.errors!.passwordsShouldMatch" class="alert alert-danger"><strong>New
                        passwords</strong> don't
                    match</div>
            </div>

            <div class="form-group"><button type="button" class="btn btn-success"
                    (click)="passwordForm.reset()">Reset</button>&nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Reset
                    password</button>
            </div>
            <div *ngIf="passwordError" class="alert alert-danger">{{ passwordError }}</div>
            <div *ngIf="passwordSuccess" class="alert alert-success">{{ passwordSuccess }}</div>
        </form>
    </div>
</div>